$primary-color : #fe538d;
$secondry-color : #ffb703;
$text-color : #000;
$text-white : #ffffff;
$dark-background : #0e0d0d;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
      font-family: "Rubik", sans-serif;
}

h1{
    font-size: 4.5em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
    color: $secondry-color;
}
p{
    font-size: 1.2em;
}
.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 15px 20px;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $secondry-color;
            border: 1px solid $secondry-color;

    }
}
.btn-secondary{
    background-color: $secondry-color;
    border: 1px solid $secondry-color;
    padding: 15px 20px;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $primary-color;
            border: 1px solid $primary-color;

    }
}
.section-header{
    span{
        color:$primary-color;
        font-size: 1.2em;
        padding-bottom: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }

}
header{
    nav{
        .nav-link{
            font-size: 1em;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: 20;

        }
        .logo{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: $primary-color;
            }

        }
    }
}
footer{
    background-color: $dark-background;
    color: $text-white;

    h3{
        font-size: 1.5em;
        color: $secondry-color;
    }
    ul{
        li{
            padding: 5x opx;
        }
    }
    a{
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none;
    }
}
.banner-section{
    .hero{
        background: linear-gradient(to right,rgba(0,0,0,0.8), rgba(0,0,0,0)),url('../images/hero.jpg');
        min-height: 800px;
        color: $text-white;
        span{
            color: $secondry-color;
            font-size: 1em;
            font-weight: 500;
        }

    }
}
.about-section{
    img{
        border-radius: 40px;
    }
    span{
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        padding-bottom: 10px;
    }

}
// .service-section{
//     .item{
//         position: relative;
//         overflow: hidden;
//         color: $text-white;
//         &:hover{
//             .service-body{
//                 transform: translateY(0%);
//                 .service-content{
//                     opacity: 1;

//                 }
//             }
//         }
//         .service-image{
//             position: relative;
//             overflow: hidden;
//             img{
//                 width: 100%;
//                 border-radius: 40px;
//                 aspect-ratio: 1 / 1.2;
//                 object-fit: cover;
//             }
//             &:after{
//                 content: " ";
//                 position: absolute;
//                 left: 0;
//                 right: 0;
//                 bottom: 0;
//                 top: 0;
//                 border-radius: 40px;
//                 // background: linear-gradient(180deg, rgba(217,217,217,0) 0%, rgba(217, 217, 217, 0) 13.02% , rgba(0, 0, 0, 0.51) 42.5%, rgba(0,0,0,0.63) 70%, #000000 100%);

//             }
//         }
//         .service-body{
//             position: absolute;
//             left: 30px;
//             right: 30px;
//             bottom: 30px;
//             transform: translateY(80%);
//             transition: all 0.4 ease-in-out;
//             service-content{
//                 transition: all 0.4 ease-in-out;
//                 opacity: 0;
//             }

//         }
//     }
// }


.service-section .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px
}

.service-section .item:hover .service-body {
    transform: translateY(0)
}

.service-section .item:hover .service-body .service-content {
    opacity: 1
}

.service-section .item .service-image {
    position: relative;
    overflow: hidden
}

.service-section .item .service-image img {
    width: 100%;
    border-radius: 40px;
    aspect-ratio: 1/1.2;
    object-fit: cover
}

.service-section .item .service-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 40px;
    background: linear-gradient(180deg,#d9d9d900,#d9d9d900 13.02%,#00000082 42.5%,#000000a1 70%,#000)
}

.service-section .item .service-body {
    color: #fff;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    transform: translateY(80%);
    transition: all .4s ease-in-out
}

.service-section .item .service-body .service-content {
    transition: all .4s ease-in-out;
    opacity: 0
}